/* DEFAULTS
----------------------------------------------------------*/
body
{
    background: #CADAFF;
    font-size: .80em;
    font-family: Arial, Helvetica, sans-serif;
    color: #484848;
}

footer
{
    border-style: solid none none none;
    border-top-width: 1px;
    border-top-color: #496077;
    color: #4e5766;
    background-color: #E0E0E0;
    padding: 8px 0px 8px 0px;
    text-align: center;
}
h3
{
	margin: 0; 
	padding: 0;
}
/* NAVIGATION
----------------------------------------------------------*/
.menu
{
	height: 37px;
	background-color:#0066FF;
	border-top: 1px solid #496077;
	border-bottom: 1px solid #496077;
	text-align: center;
}

.menuButton
{
	width: 120px;
	height: 37px;
	background-color: #0066FF;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	cursor:pointer;
	border:none;
}
.menuButton:hover{
	background-color: #6699FF;
}
/* CONTENT
----------------------------------------------------------*/
.content
{
    width: 960px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
    -moz-box-shadow: 5px 5px 5px  #828282;
    -webkit-box-shadow: 5px 5px 5px #828282;
}
.page
{
	padding-left: 15px;
	padding-right: 15px;
	min-height: 500px;
}
.pageContent
{
	width: 460px;
}
.right 
{
	float:right;
}
.center
{
	text-align:center;
}
.topBlock
{
	vertical-align:top;
	display:inline-block;
}
.pT
{
	padding-top: 15px;
}
.border
{
	border:solid #555 1px;
}
.imgContainer
{
	height:650px; 
	width:962px;
	display:inline-block;
	margin-left:-15px; 
}
.imgHolderSmall
{
	min-width:100px; 
	display:inline-block; 
	text-align:center; 
	background-color:#ddd; 
	margin:5px;
	cursor:pointer;
}